@charset "UTF-8";

/* ----------------- Main styling ----------------- */

body {
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(245, 245, 234);
}

/* ----------------- Header styling ----------------- */

header {
   background-image: url(/img/campfire-896196_1920.jpg);
   background-size: cover;
   background-position: center center;
   height: 200px;
   padding: 20px;
   font-size: 1.5rem;
   color: white;
   text-align: center;
}

/* ----------------- Navigation styling ----------------- */

nav {
    grid-area: nav;
    background-color: olivedrab;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0.4rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    color: rgb(1, 19, 2);
}

nav ul ul {
    margin-left: 0;
    background-color: rgb(130, 167, 57);
    box-shadow: 6px 6px 10px #333333;
    display: flex;
    flex-direction: row;
    visibility: hidden;
    position: absolute;
}

nav ul li:hover ul {
    visibility: visible;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 0.4rem;
}

nav a:link, nav a:visited {
    color: #43440d;
}


main {
    margin: 20px;
}

img {
 max-width: 85%;
}

.centreimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#booking fieldset {
    background-color: rgb(255, 254, 247);
    margin-bottom: 10px;
}

#booking legend {
    font-size: 1.1em;
    font-weight: bold;
}

#customer div {
    display: grid;
    gap: 0.6em;
    white-space: nowrap;
    grid-template-columns: min-content auto;
}

#customer input {
    width: 50ch;
}

#send input {
    font-size: 1.5em;
    background-color: rgb(35, 104, 23);
    color: whitesmoke;
}

iframe {
    width: 600px;
    height: 450px;
    border: none;
}

.newsbox {
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 135, 128);
    padding: 10px;
    margin: 10px;
}

/* ----------------- Table styling ----------------- */

table {
    background-color: rgb(252, 252, 247);
    border-collapse: collapse;
    caption-side: top;
    margin: auto;
    margin-bottom: 20px;
}

th, td {
 border: 2px solid #000000;   
 padding: 10px;
 text-align: left;
}

caption {
    font-size: 1.5rem;
    margin: 10px;
    font-weight: bold;
}

/* ----------------- Footer styling ----------------- */

footer {
    background-color: olivedrab;
    color: white;
    font-size: 0.9rem;
}

#footerwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#footerwrapper div {
    margin: auto;
    padding: 10px;
    width: 50%;
}

/*
#footerbox1 {
    background-color: rgb(130, 167, 57);
}

#footerbox2 {
    background-color: rgb(130, 167, 57);
}*/
